.landing-container{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.514);
    min-height: 100vh;

    .landing{
        max-width: 1366px;
        width: 85%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;


        #myVideo{
            max-width: 1366px;
            width: 100%;
            // height: 100vh;
            position: fixed;
            right: 0;
            bottom: 0;
            z-index: -1;

            &::before{
                content: "";
                width: 100%;
                height: 100vh;
                position: fixed;
                background-color: red;
                z-index: 10;
            }
        }

        #header {
            display: -moz-flex;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -moz-align-items: center;
            -webkit-align-items: center;
            -ms-align-items: center;
            align-items: center;
            -moz-transition: -moz-transform 0.325s ease-in-out, -moz-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
            -webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
            -ms-transition: -ms-transform 0.325s ease-in-out, -ms-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
            transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
            // background-image: -moz-radial-gradient(rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 55%);
            // background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 55%);
            // background-image: -ms-radial-gradient(rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 55%);
            // background-image: radial-gradient(rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 55%);
            max-width: 100%;
            text-align: center;
            // background-color: rgba(0, 0, 0, 0.849);
        }
    
            #header > * {
                -moz-transition: opacity 0.325s ease-in-out;
                -webkit-transition: opacity 0.325s ease-in-out;
                -ms-transition: opacity 0.325s ease-in-out;
                transition: opacity 0.325s ease-in-out;
                position: relative;
                margin-top: 3.5rem;
            }
    
                // #header > *:before {
                //     content: '';
                //     display: block;
                //     position: absolute;
                //     top: calc(-3.5rem - 1px);
                //     left: calc(50% - 0px);
                //     width: 1px;
                //     height: calc(3.5rem + 1px);
                //     background: #ffffff;
                // }

                #header > :nth-child(3):before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: calc(-3.5rem - 1px);
                    left: calc(50% - 0px);
                    width: 1px;
                    height: calc(3.5rem + 1px);
                    background: #ffffff;
                }
    
            #header > :first-child {
                margin-top: 0;
            }
    
                #header > :first-child:before {
                    display: none;
                }
    
            // #header .logo {
            //     width: 5.5rem;
            //     height: 0.5rem;
            //     line-height: 5.5rem;
            //     border: solid 1px #ffffff;
            //     border-radius: 100%;
            //     background-color: red;
            // }

            #header .logo {
                // width: 5.5rem;
                // height: 0.5rem;
                // line-height: 5.5rem;
                // border: solid 1px #ffffff;
                // border-radius: 100%;
                // background-color: red;
                img{
                    width: 200px;
                    margin-bottom: -50px;
                    animation: animation-zoom 1s linear ;
                    animation-delay: 1s;
                }
            }
    
                #header .logo .icon:before {
                    font-size: 2rem;
                }
    
            #header .content {
                border-style: solid;
                border-color: #ffffff;
                border-top-width: 1px;
                border-bottom-width: 1px;
                border-left-width: 0px;
                border-right-width: 0px;
                max-width: 100%;
            }
    
                #header .content .inner {
                    -moz-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
                    -webkit-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
                    -ms-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
                    transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
                    -moz-transition-delay: 0.25s;
                    -webkit-transition-delay: 0.25s;
                    -ms-transition-delay: 0.25s;
                    transition-delay: 0.25s;
                    padding: 3rem 2rem;
                    // padding: 20px 7px;
                    max-height: 40rem;
                    overflow: hidden;
                    animation: landing-animation 1s linear;
                }

                @keyframes landing-animation {
                    from{
                        max-height: 0rem;
                        padding: 0;
                    }
                    to{
                        max-height: 40rem;
                        padding: 3rem 2rem;
                    }
                    
                }

                @keyframes animation-zoom {
                    0%{
                        transform: scale(1);
                    }
                    50%{
                        transform: scale(1.4);
                    }
                    100%{
                        transform: scale(1);
                    }
                }

                @keyframes animation-zoom2 {
                    0%{
                        transform: scale(1);
                    }
                    50%{
                        transform: scale(1.2);
                    }
                    100%{
                        transform: scale(1);
                    }
                }
    
                    #header .content .inner > :last-child {
                        margin-bottom: 0;
                    }
    
                #header .content p {
                    text-transform: uppercase;
                    letter-spacing: 0.2rem;
                    font-size: 0.8rem;
                    line-height: 2;
                }
    
            #header nav ul {
                display: -moz-flex;
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                margin-bottom: 0;
                list-style: none;
                padding-left: 0;
                border: solid 1px #ffffff;
                border-radius: 4px;
            }
    
                #header nav ul li {
                    padding-left: 0;
                    border-left: solid 1px #ffffff;
                    width: 10rem;
                }
    
                    #header nav ul li:first-child {
                        border-left: 0;
                    }
    
                    #header nav ul li a {
                        display: block;
                        min-width: 7.5rem;
                        height: 2.75rem;
                        line-height: 2.75rem;
                        padding: 0 1.25rem 0 1.45rem;
                        text-transform: uppercase;
                        letter-spacing: 0.2rem;
                        font-size: 0.8rem;
                        border-bottom: 0;
                    }
    
                        #header nav ul li a:hover {
                            background-color: rgba(255, 255, 255, 0.075);
                        }
    
                        #header nav ul li a:active {
                            background-color: rgba(255, 255, 255, 0.175);
                        }
    
            #header nav.use-middle:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: calc(50% - 1px);
                width: 1px;
                height: 100%;
                background: #ffffff;
            }
    
            #header nav.use-middle ul li.is-middle {
                border-left: 0;
            }
    
            body.is-article-visible #header {
                -moz-transform: scale(0.95);
                -webkit-transform: scale(0.95);
                -ms-transform: scale(0.95);
                transform: scale(0.95);
                -moz-filter: blur(0.1rem);
                -webkit-filter: blur(0.1rem);
                -ms-filter: blur(0.1rem);
                filter: blur(0.1rem);
                opacity: 0;
            }
    
            body.is-preload #header {
                -moz-filter: blur(0.125rem);
                -webkit-filter: blur(0.125rem);
                -ms-filter: blur(0.125rem);
                filter: blur(0.125rem);
            }
    
                body.is-preload #header > * {
                    opacity: 0;
                }
    
                body.is-preload #header .content .inner {
                    max-height: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    opacity: 0;
                }
    
            @media screen and (max-width: 1130px) {
    
                #header .content p br {
                    display: none;
                }

                #myVideo{
                    max-width: 1366px;
                    width: auto;
                    height: 100vh;
                    position: fixed;
                    right: 0;
                    bottom: 0;
                }
        
    
            }

            @media screen and (max-width: 980px) {
    
                #header .content p br {
                    display: none;
                }
    
            }
    
            @media screen and (max-width: 736px) {
    
                // #header > * {
                //     margin-top: 2rem;
                // }
    
                    #header > *:before {
                        top: calc(-2rem - 1px);
                        height: calc(2rem + 1px);
                    }
    
                // #header .logo {
                //     width: 4.75rem;
                //     height: 4.75rem;
                //     line-height: 4.75rem;

                // }
    
                    // #header .logo .icon:before {
                    //     font-size: 1.75rem;
                    // }
    
                #header .content .inner {
                    padding: 2.5rem 1rem;
                }
    
                #header .content p {
                    line-height: 1.875;
                }
    
            }
    
            @media screen and (max-width: 480px) {
    
                #header {
                    padding: 1.5rem 0;
                    padding-bottom: 0px;
                    padding-top: 0px;
                }
            
                    #header .content .inner {
                        padding: 2.5rem 0;

                        p{
                            font-size: 10px;
                        }
                    }
    
                    #header nav ul {
                        -moz-flex-direction: column;
                        -webkit-flex-direction: column;
                        -ms-flex-direction: column;
                        flex-direction: column;
                        min-width: 10rem;
                        max-width: 100%;
                    }

                // .landing-container .landing #header > :nth-child(3):before{
                //     content: "";
                //     display: block;
                //     position: absolute;
                //     left: calc(50% - 0px);
                //     width: 1px;
                //     top: -2.5rem !important;
                //     height: 2.5rem !important;
                //     background-color: #ffffff;
                // }

                #header > *:before{
                    top: -2rem !important;
                    height: 2rem !important;

                }

                // .landing-container .landing #header > *{
                //     margin-top: 2.5rem !important;
                // }

                #header > *{
                    margin-top: 2rem !important;
                }
    
                        #header nav ul li {
                            border-left: 0;
                            border-top: solid 1px #ffffff;
                            width: 100%;
                        }
    
                            #header nav ul li:first-child {
                                border-top: 0;
                            }
    
                            #header nav ul li a {
                                // height: 3rem;
                                height: 2.5rem;
                                // line-height: 3rem;
                                line-height: 2.75rem;
                                min-width: 0;
                                width: 100%;
                            }
    
                    #header nav.use-middle:after {
                        display: none;
                    }

                    .footer{
                        max-width: 1366px;
                        width: 80%;
                        padding: 10px 0;
                        // margin-top: 25px;
                
                        .flex{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            // flex-wrap: wrap;
                            flex-direction: column;
                
                            .location-phone{
                                display: flex;
                                align-items: center;
                                gap: 25px;
                                margin: 10px 0;
                                margin-bottom: 0;
        
                                .location{
                                    display: flex;
                                    align-items: center;
                                    gap: 3px;
                                    font-size: 10px;
        
                                    .icon{
                                        color: white;
                                    }
                                }
        
                                .phone{
                                    display: flex;
                                    align-items: center;
                                    gap: 3px;
                                    font-size: 10px;
        
                                    .icon{
                                        color: white;
                                    }
        
                                }
                            }
        
                            .social-icons{
                                display: flex;
                                align-items: center;
                                gap: 25px;
                                margin-top: 5px !important;
                
                                .icon-container{
                                    width: 28px;
                                    height: 28px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    // border: ;
                                    // background-color: #000e9c;
                                    background-color: #ffffff;
                                    border-radius: 50%;
                
                                    .icon{
                                        width: 15px;
                                        height: 15px;
                                        // color: #bef1ff;
                                        // color: #000e9c;
                                        color: #E30613;
                                    }
                                }
                            }
                
                        }
                
                
                        p.copy-right{
                            font-size: 11px !important;
                            // margin-top: 5px;
                            padding: 5px 0;
                            color: #f5f5fb;
                            opacity: 0.7;
                        }
                    }

                    #header .logo {
                        // width: 5.5rem;
                        // height: 0.5rem;
                        // line-height: 5.5rem;
                        // border: solid 1px #ffffff;
                        // border-radius: 100%;
                        // background-color: red;
                        img{
                            // width: 200px;
                            // margin-bottom: -50px;
                            animation: animation-zoom2 1s linear ;
                            animation-delay: 1s;
                        }
                    }
        
        
    
            }


            .footer{
                max-width: 1366px;
                width: 80%;
                padding: 10px 0;
                // margin-top: 25px;
        
                .flex{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    // flex-wrap: wrap;
                    flex-direction: column;
        
                    .location-phone{
                        display: flex;
                        align-items: center;
                        gap: 25px !important;
                        margin: 10px 0;
                        margin-bottom: 0;

                        .location{
                            display: flex;
                            align-items: center;
                            gap: 3px;
                            font-size: 10px !important;

                            .icon{
                                color: white;
                            }
                        }

                        .phone{
                            display: flex;
                            align-items: center;
                            gap: 3px;
                            font-size: 10px !important;

                            .icon{
                                color: white;
                            }

                        }
                    }

                    .social-icons{
                        display: flex;
                        align-items: center;
                        gap: 25px;
                        margin-top: 10px;
        
                        .icon-container{
                            width: 28px;
                            height: 28px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            // border: ;
                            // background-color: #000e9c;
                            background-color: #ffffff;
                            border-radius: 50%;
        
                            .icon{
                                width: 15px;
                                height: 15px;
                                // color: #bef1ff;
                                // color: #000e9c;
                                color: #E30613;
                            }
                        }
                    }
        
                }
        
        
                p.copy-right{
                    font-size: 14px;
                    // margin-top: 5px;
                    padding: 5px 0;
                    color: #f5f5fb;
                    opacity: 0.7;
                }
            }

            @media only screen and (max-width: 570px){
                .footer{
                    max-width: 1366px;
                    width: 110%;
                    padding: 10px 0;
                    // margin-top: 25px;
            
                    .flex{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        // flex-wrap: wrap;
                        flex-direction: column;
            
                        .location-phone{
                            display: flex;
                            align-items: center;
                            gap: 50px;
                            // margin: 10px 0;
    
                            .location{
                                display: flex;
                                align-items: center;
                                gap: 3px;
                                font-size: 15px;
                            }
    
                            .phone{
                                display: flex;
                                align-items: center;
                                gap: 3px;
                                font-size: 15px;
    
                            }
                        }
    
                        .social-icons{
                            display: flex;
                            align-items: center;
                            gap: 25px;
            
                            .icon-container{
                                width: 28px;
                                height: 28px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                // border: ;
                                // background-color: #000e9c;
                                background-color: #ffffff;
                                border-radius: 50%;
            
                                .icon{
                                    width: 15px;
                                    height: 15px;
                                    // color: #bef1ff;
                                    // color: #000e9c;
                                    color: #E30613;
                                }
                            }
                        }
            
                    }
            
            
                    p.copy-right{
                        font-size: 14px;
                        // margin-top: 5px;
                        padding: 5px 0;
                        color: #f5f5fb;
                        opacity: 0.7;
                        text-align: center;
                    }
                }


    

            }
        
    
    }
}